.dropdown-menu {
  --bs-dropdown-min-width: 4.6rem;
}

.inputUsername {
  width: 100%;
  outline: none;
  padding: 0.2rem 0.5rem;
  &:focus {
    border: 2px solid rgba(5, 116, 244, 0.65);
  }
}

.err_login {
  font-size: calc(1rem * 0.8);
  color: lightcoral;
}
.inputPassword {
  width: 100%;
  outline: none;
  padding: 0.2rem 0.5rem;
  &:focus {
    border: 2px solid rgba(5, 116, 244, 0.65);
  }
}

.btn_container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: #ff6766;
  color: rgb(255, 255, 255, 0.7);
  padding: 8px 20px;
  position: relative;
  transition: 1s;
  &:hover {
    background-color: #ffa7a7;
    color: rgb(0, 0, 0, 1);
  }
}

.forgot {
  text-decoration: none;
  font-size: calc(1rem * 0.8);
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    color: blue;
  }
}
