<div class="btn btn-primary mb-3 mt-3" style="margin-left: 12px;" (click)="createNewProduct(createProduct)">New</div>
<ng-template #createProduct>
  <div class="modal-body">
    <form [formGroup]="createNewProductr" (ngSubmit)="onCreateProduct()" class="form_login">
      <div class="input-group mb-3">
        <input #myinput type="file" class="form-control" (change)="onChange($event)" formControlName="myImage"
          id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
      <div *ngIf="base64code">
        <img *ngIf="base64code" [src]="base64code" width="100%" height="300px" />
      </div>

      <button class="btn btn-primary">Create</button>
    </form>
  </div>
</ng-template>
