.cate_mange {
  height: 60px;
  background-color: #202124;
  color: white;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  .btn_manage {
    border-radius: 5px 5px;
    background-color: #343539;
    cursor: pointer;
    display: inline-block;
    padding: 5px 7px;
    transition: 1s;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
