<div class="searching">
  <h3>Role</h3>
  <form [formGroup]="searchRoleForm" (ngSubmit)="onSearchRole()" class="form_login">
    <input placeholder="&#61442; Search by name" class="input_search" formControlName="name" />
    <button class="btn_searching">Search</button>
  </form>
  <div class="btn_searchings" (click)="createNewRole(createRole)">New</div>
</div>

<div class="cate_body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">Create At</th>
        <th scope="col">Update At</th>
        <th scope="col">action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of role">
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.nameRole}}</td>
        <td>{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
        <td>{{item.updatedAt | date: 'dd/MM/yyyy'}}</td>
        <td scope="row" class="btn_list">
          <button class="btn_list_task" (click)="deleteRole(deletet)">Delete</button>
          <ng-template #deletet>
            <div class="modal-body">
              <div class="mb-3">
                Are you sure? Delete role can not back up data again. Make sure you want to delete this account
              </div>

              <button (click)="deleteRoleByAdmin(item.id)" class="btn btn-primary">Delete</button>

            </div>
          </ng-template>
          <button class="btn_list_task">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="searching">
  <h3>Gender</h3>
  <form class="form_login">
    <input placeholder="&#61442; Search by name" class="input_search" />
    <button class="btn_searching">Search</button>
  </form>
  <div class="btn_searchings">New</div>
</div>

<div class="cate_body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of gender">
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.name}}</td>
        <td scope="row" class="btn_list">
          <button class="btn_list_task">Delete</button>
          <button class="btn_list_task">Update</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="searching">
  <h3>Address</h3>
  <form class="form_login">
    <input placeholder="&#61442; Search by name" class="input_search" />
    <button class="btn_searching">Search</button>
  </form>
  <div class="btn_searchings">New</div>
</div>


<div class="cate_body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of address">
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.name}}</td>
        <td scope="row" class="btn_list">
          <button class="btn_list_task">Delete</button>
          <button class="btn_list_task">Update</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<ng-template #createRole>
  <div class="modal-body">
    <form [formGroup]="createNewRoles" (ngSubmit)="onCreateRoles()" class="form_login">
      <div class="mb-3">
        <h5>Name</h5>
        <input type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="addon-wrapping"
          formControlName="name">
        <small *ngIf="errReg === 1" class="text-danger">{{errMessage}}</small>
      </div>

      <button class="btn btn-primary">Create</button>

    </form>
  </div>
</ng-template>
