<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 product-detail-container">
        <div class="product-top-box">
          <div class="row">
            <div class="col-md-7">
              <div class="product-image">
                <img
                  style="height: 358px; width: 592px; border-radius: 10px 10px"
                  src="https://cdn.divineshop.vn/image/catalog/Anh-SP/Youtube/Divine-Shop-YOUTUBE-NO-ADS-1-NAM-53447.jpg?hash=1658743452"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-5">
              <div class="product-intro-top">
                <div class="product-name">
                  Account Netflix 1 User - 1 Month Premium
                </div>

                <div class="product-status">
                  Status: <em style="color: rgb(4, 214, 4)">In Stock</em>
                </div>

                <div class="product-genre">
                  Genre: App, Entertainment, Watching Movies
                </div>

                <div class="product-intro-bottom p-0">
                  <div class="row">
                    <div class="col-sm-8">
                      <span class="price-current">
                        <strong>VND: 79.000</strong>
                      </span>
                      <br />
                      <span class="price-original">
                        <strong>VND: 79.000</strong>
                      </span>
                    </div>

                    <div class="d-flex mt-5">
                      <div class="text-center m-2">
                        <button class="btn btn-primary">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i
                          >&nbsp; Buy Now!
                        </button>
                      </div>
                      <div class="text-center m-2">
                        <button class="btn btn-primary">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i
                          >&nbsp; Add to Cart
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row a d-flex">
        <div class="col-xs-12 b">
          <div class="product-bottom-box">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 w-100">
                <div class="product-detail-header">
                  <p><strong>Product Details</strong></p>
                </div>
                <div class="product-description">
                  <p>
                    Với YouTube Premium, bạn có thể xem hàng triệu video không
                    có quảng cáo. Quảng cáo bao gồm cả quảng cáo trước và trong
                    video cũng như quảng cáo biểu ngữ, quảng cáo đi kèm kết quả
                    tìm kiếm và quảng cáo lớp phủ trên video. Bạn vẫn có thể xem
                    quảng cáo hoặc thương hiệu nhúng trong nội dung của người
                    sáng tạo mà YouTube không kiểm soát. Video không có quảng
                    cáo được hỗ trợ trên tất cả các thiết bị và nền tảng mà bạn
                    có thể đăng nhập bằng tài khoản Google, kể cả trên TV thông
                    minh/máy chơi trò chơi tương thích và các ứng dụng YouTube,
                    YouTube Âm nhạc, YouTube Gaming và YouTube Kids dành cho
                    thiết bị di động nếu các ứng dụng này có ở địa điểm của bạn.
                  </p>
                  <br />
                  <p>
                    YouTube Premium - Xem Youtube không quảng cáo Video không có
                    quảng cáo Với YouTube Premium, bạn có thể xem hàng triệu
                    video không có quảng cáo. Quảng cáo bao gồm cả quảng cáo
                    trước và trong video cũng như quảng cáo biểu ngữ, quảng cáo
                    đi kèm kết quả tìm kiếm và quảng cáo lớp phủ trên video. Bạn
                    vẫn có thể xem quảng cáo hoặc thương hiệu nhúng trong nội
                    dung của người sáng tạo mà YouTube không kiểm soát. Video
                    không có quảng cáo được hỗ trợ trên tất cả các thiết bị và
                    nền tảng mà bạn có thể đăng nhập bằng tài khoản Google, kể
                    cả trên TV thông minh/máy chơi trò chơi tương thích và các
                    ứng dụng YouTube, YouTube Âm nhạc, YouTube Gaming và YouTube
                    Kids dành cho thiết bị di động nếu các ứng dụng này có ở địa
                    điểm của bạn. YouTube Music Premium Bạn cũng có quyền sử
                    dụng YouTube Music Premium như một phần lợi ích của mình.
                    Với YouTube Music Premium, bạn có thể: Thưởng thức hàng
                    triệu bài hát và video trong YouTube Âm nhạc không có quảng
                    cáo. Tải các bài hát và video xuống thiết bị di động để nghe
                    khi không có mạng. Sử dụng tính năng phát trong nền để tiếp
                    tục phát nhạc khi bạn dùng các ứng dụng khác. Bật chế độ chỉ
                    âm thanh để nghe nhạc mà không cần tải video Tải video xuống
                    để xem khi không có mạng Tải các video và danh sách phát
                    xuống để xem khi không có mạng nếu bạn không có kết nối
                    Internet. Bạn có thể tải video xuống để xem khi không có
                    mạng bằng ứng dụng YouTube, YouTube Âm nhạc và YouTube
                    Gaming (và xem các video tự động tải xuống trong ứng dụng
                    YouTube Kids) nếu các ứng dụng này có ở địa điểm của bạn khi
                    bạn đăng nhập vào ứng dụng bằng tài khoản YouTube Premium.
                    YouTube Originals Xem miễn phí tất cả phim bộ và phim lẻ của
                    Youtube Originals từ một só người sáng tạo thành công nhất
                    của YouTube ngay khi họ phát hành.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comment -->
    <!-- <div class="comments-container">
    <h1>Comentarios <a href="http://creaticode.com">creaticode.com</a></h1>

    <ul id="comments-list" class="comments-list">
      <li>
        <div class="comment-main-level">
          <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
              <span>hace 20 minutos</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
            </div>
          </div>
        </div>
        <ul class="comments-list reply-list">
          <li>
            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                <span>hace 10 minutos</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </li>

          <li>
            <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                <span>hace 10 minutos</span>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
              </div>
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div class="comment-main-level">
          <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
              <span>hace 10 minutos</span>
              <i class="fa fa-reply"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
</div> -->

    <div class="container mt-5 mb-5 w-100">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div
            class="headings d-flex justify-content-between align-items-center mb-3"
          >
            <h5>Comments</h5>
          </div>

          <div class="card p-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <img
                  src="https://i.imgur.com/hczKIze.jpg"
                  width="30"
                  class="user-img rounded-circle mr-2"
                />
                <span
                  ><small class="font-weight-bold text-primary"
                    >james_olesenn</small
                  >
                  <small class="font-weight-bold"
                    >Hmm, This poster looks cool</small
                  ></span
                >
              </div>

              <small>2 days ago</small>
            </div>

            <div
              class="action d-flex justify-content-between mt-2 align-items-center"
            >
              <div class="reply px-4">
                <small>Remove</small>
                <span class="dots"></span>
                <small>Reply</small>
                <span class="dots"></span>
                <small>Translate</small>
              </div>

              <div class="icons align-items-center">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-check-circle-o check-icon"></i>
              </div>
            </div>
          </div>

          <div class="card p-3 mt-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <img
                  src="https://i.imgur.com/C4egmYM.jpg"
                  width="30"
                  class="user-img rounded-circle mr-2"
                />
                <span
                  ><small class="font-weight-bold text-primary"
                    >olan_sams</small
                  >
                  <small class="font-weight-bold"
                    >Loving your work and profile!
                  </small></span
                >
              </div>

              <small>3 days ago</small>
            </div>

            <div
              class="action d-flex justify-content-between mt-2 align-items-center"
            >
              <div class="reply px-4">
                <small>Remove</small>
                <span class="dots"></span>
                <small>Reply</small>
                <span class="dots"></span>
                <small>Translate</small>
              </div>

              <div class="icons align-items-center">
                <i class="fa fa-check-circle-o check-icon text-primary"></i>
              </div>
            </div>
          </div>

          <div class="card p-3 mt-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <img
                  src="https://i.imgur.com/0LKZQYM.jpg"
                  width="30"
                  class="user-img rounded-circle mr-2"
                />
                <span
                  ><small class="font-weight-bold text-primary"
                    >rashida_jones</small
                  >
                  <small class="font-weight-bold"
                    >Really cool Which filter are you using?
                  </small></span
                >
              </div>

              <small>3 days ago</small>
            </div>

            <div
              class="action d-flex justify-content-between mt-2 align-items-center"
            >
              <div class="reply px-4">
                <small>Remove</small>
                <span class="dots"></span>
                <small>Reply</small>
                <span class="dots"></span>
                <small>Translate</small>
              </div>

              <div class="icons align-items-center">
                <i class="fa fa-user-plus text-muted"></i>
                <i class="fa fa-star-o text-muted"></i>
                <i class="fa fa-check-circle-o check-icon text-primary"></i>
              </div>
            </div>
          </div>

          <div class="card p-3 mt-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="user d-flex flex-row align-items-center">
                <img
                  src="https://i.imgur.com/ZSkeqnd.jpg"
                  width="30"
                  class="user-img rounded-circle mr-2"
                />
                <span
                  ><small class="font-weight-bold text-primary"
                    >simona_rnasi</small
                  >
                  <small class="font-weight-bold text-primary"
                    >@macky_lones</small
                  >
                  <small class="font-weight-bold text-primary"
                    >@rashida_jones</small
                  >
                  <small class="font-weight-bold">Thanks </small></span
                >
              </div>

              <small>3 days ago</small>
            </div>

            <div
              class="action d-flex justify-content-between mt-2 align-items-center"
            >
              <div class="reply px-4">
                <small>Remove</small>
                <span class="dots"></span>
                <small>Reply</small>
                <span class="dots"></span>
                <small>Translate</small>
              </div>

              <div class="icons align-items-center">
                <i class="fa fa-check-circle-o check-icon text-primary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>
