body {
  background-color: #f2f2f2;
}
ul {
  list-style-type: none;
}
.container-sm {
  background-color: #ffffff;
}
.product-image {
  width: 560px;
  height: auto;
}
p {
  > span {
    color: green;
  }
  > b {
    font-size: 20px;
  }
}
.percent-sale {
  color: white;
  background-color: red;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}
.sale {
  color: #ccc9c9;
}
.expiry-date {
  > ul {
    display: flex;
    > li {
      margin: 0 5px 0 0;
      padding: 5px 10px 5px 10px;
      border: 1px;
      border-style: solid;
      border-color: rgb(157, 180, 241);
      border-radius: 10px;
      color: rgb(0, 65, 245);
    }
  }
  > p {
    margin: 20px 0 20px 0;
    font-weight: bold;
  }
}
.payment {
  > button {
    padding: 10px 0 10px 0;
  }
}
.text-payment {
  font-size: 20px;
}
.buy {
  background-color: blue;
  color: white;
  border-style: solid;
  border-color: rgb(157, 180, 241);
  border-radius: 10px;
  vertical-align: top;
}
.add {
  background-color: white;
  color: blue;
  border-style: solid;
  border-color: rgb(157, 180, 241);
  border-radius: 10px;
  vertical-align: middle;
}
.material-symbols-outlined {
  vertical-align: middle;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.post-comment {
  padding: 5px 5px 10px 5px;
  background-color: blue;
  color: white;
  border-style: solid;
  border-color: rgb(157, 180, 241);
  border-radius: 10px;
  vertical-align: bottom;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.show-comment {
  margin: 50px 0 50px 0;
}
.mb-1 {
  font-weight: bold;
}
.verified {
  color: blue;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.time-comment {
  font-weight: normal;
  color: rgb(167, 166, 166);
}

.details_content {
  text-align: justify;
}