.searching {
  margin-top: 1rem;
  display: flex;
  padding: 0 20px;
  // align-items: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  .btn_searchings {
    padding: 5px 7px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px 5px;
  }
  .btn_searching {
    margin-top: 1rem;
    padding: 5px 7px;
    width: 100px;
    display: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px 5px;
  }
  .input_search {
    padding: 8px 15px;

    outline: none;
    border: none;
    background-color: #202124;
    border-radius: 5px 5px;
    color: white;
    font-size: calc(1rem * 0.8);
    transition: 1s;
    &:focus {
      background-color: #3c3d3d;
    }
  }
}

.cate_body {
  padding: 10px 20px;
  width: 100%;
  overflow-x: scroll;

  .btn_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .btn_list_task {
      border-radius: 5px 5px;
      border: none;
      background-color: #202124;
      color: white;
      padding: 10px 5px;
      width: 150px;
    }
  }
}

@media only screen and (max-device-width: 1025px) {
  .btn_searching {
    display: block !important;
  }
}
