.main_right {
  background-color: #202124;
  border-bottom: 1px solid #343539;
  color: white;
  padding-top: 10px;

  .card-name {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  .cards {
    cursor: pointer;
    transition: 1s;
    &:hover {
      box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px,
        rgba(255, 255, 255, 0.23) 0px 6px 6px;
      transform: translate(0, -10%);
    }
    .percent {
      display: inline-block;
      padding: 7px 10px;
      border-radius: 15px 15px;
      font-size: calc(1rem * 0.8);
      background-color: lightgreen;
    }
  }
  .pagin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .paginations {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .list_img {
    height: 200px;
  }
}
