<div class="category">
  <div class="btn_cat btn-group" dropdown>
    <div id="button-animated" dropdownToggle type="button" class="dropdown-toggle" aria-controls="dropdown-animated">
      Cate<strong class="pass">gory</strong> <span class="caret"></span>
    </div>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu menu_cate" role="menu"
      aria-labelledby="button-animated">
      <li *ngFor="let item of categot" role="menuitem" class=" mt-2 dropdown-item list">
        <p>{{item.name}}</p>
      </li>
    </ul>
  </div>
  <div class="admin" *ngIf="(role$|async) === 'Admin'">
    Admin
  </div>
  <div *ngIf="(role$|async) === 'Admin'" class=" admin">
    <div class="btn_manage" routerLink="/manage">User Manage</div>
  </div>
</div>
