.category {
  background-color: #202124;
  border-bottom: 1px solid #343539;
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  .admin {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn_manage {
      border-radius: 5px 5px;
      padding: 0px 8px;

      border-right: 1px solid #343539;
      transition: 1s;
      cursor: pointer;
      &:hover {
        color: lightblue;
      }
    }
  }
  .btn_cat {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px;
    transition: 1s;
    border-right: 1px solid #343539;
    padding: 0 8px;
    cursor: pointer;
    font-weight: lighter;
    .menu_cate {
      background-color: #343539;
      color: white;
      .list {
        color: white;
        transition: 1s;
        &:hover {
          color: black;
        }
      }
    }
    &:hover {
      color: lightblue;
      transition: 1s;
    }
  }

  .text_cate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border-right: 1px solid #343539;
  }
}
