.category {
  background-color: #202124;
  border-bottom: 1px solid #343539;
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  .btn_cat {
    background-color: darkred;
    color: lightpink;
    padding: 5px 10px;
    border-radius: 5px 5px;
    transition: 1s;
    cursor: pointer;
    font-weight: lighter;
    .menu_cate {
      background-color: #343539;
      color: white;
      .list {
        color: white;
        transition: 1s;
        &:hover {
          color: black;
        }
      }
    }
    &:hover {
      background-color: lightpink;
      color: darkred;
      transition: 1s;
      .pass {
        color: darkblue;
        transition: 1s;
      }
    }
  }
}
