.container_footer {
  background-color: #f8f9fa;
  min-height: 220px;
  .social {
    font-size: calc(1rem * 0.8);
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
  .footer_container_child {
    padding: 10px 0;
    font-size: calc(1rem * 0.8);
    .footer_child {
      padding: 5px;
      display: inline-block;
      width: 250px;
      height: 150px;

      .footer_head {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
