<div class="footer_main">
  <div class="footer_top">
    <div class="footer_child_left">
      <div class="footer_text_head">BE CREATIVE, BE CAREFUL</div>
      <div class="footer_text_body">Start using Blinder today.</div>
      <div class="footer_container_input">
        <input class="footer_input" type="text" placeholder="Your email" />
        <i class="bi bi-envelope"></i>
      </div>
    </div>
    <div class="footer_child_right">
      <div class="footer_text_img">Blinder</div>
    </div>
  </div>
  <div class="footer_bot">
    <div class="intro_start">
      <div>DVC Team</div>
      <div class="text_bot_footer">
        This website were made by DVC Team for mockup project (OJT FPT Software)
      </div>
      <div class="text_bot_footer">&copy; No copyright</div>
    </div>
    <div class="intro_body">
      <div class="text_bot_footer">Teammate</div>
      <div class="text_bot_footer">Technical leader: Duong Duc anh</div>
      <div class="text_bot_footer">Ngo Tien Dung</div>
      <div class="text_bot_footer">Nguyen Van Luc</div>
      <div class="text_bot_footer">None</div>
      <div class="text_bot_footer">None</div>
    </div>
    <div class="intro_end">
      <div class="text_bot_footer">Contact</div>
      <div class="text_bot_footer">Hot line: 0913924185</div>
      <div class="text_bot_footer" style="font-size: 2rem">
        <a href="https://www.facebook.com/ST.LGZ/" target="_blank"
          ><i
            class="bi bi-facebook"
            style="cursor: pointer; color: lightblue"
          ></i
        ></a>

        |
        <a href="https://www.instagram.com/anhduong2350/" target="_blank"
          ><i
            class="bi bi-instagram"
            style="cursor: pointer; color: lightcoral"
          ></i
        ></a>
      </div>
    </div>
  </div>
</div>
