<div class="container_footer">
  <div class="container-xl">
    <div class="social">ok</div>
    <div class="footer_container_child">
      <div class="footer_child">
        <p class="footer_head">INTRODUCTION</p>
        <div>
          <p>Flame Group</p>
          <p>Local: Vn, Oce</p>
          <p>Address: My Dinh 2</p>
          <p>No Copy Right</p>
        </div>
      </div>
      <div class="footer_child">
        <p class="footer_head">ACCOUNT</p>
        <div>
          <p>Support</p>
          <p>Policies</p>
          <p>History</p>
          <p>Rules</p>
        </div>
      </div>
      <div class="footer_child">
        <p class="footer_head">CONTACT</p>
        <div>
          <p>Hotline: 0913924185</p>
          <p>Hotline: 0913924185</p>
          <p>Hotline: 0913924185</p>
          <p>Hotline: 0913924185</p>
        </div>
      </div>
    </div>
  </div>
</div>
