/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Poppins medium";
}

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css";

p {
  margin: 0;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "Poppins bold";
  src: url("../src/assets/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins thin";
  src: url("../src/assets/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins medium";
  src: url("../src/assets/Poppins-Medium.ttf");
}

// USAGE

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
