<div class="main_container">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="form_login">
    <h1>Login</h1>
    <div class="username">
      <label for="name" style="font-size: 20px"> Email </label>
      <input
        id="email"
        type="text"
        formControlName="email"
        class="inputUsername"
      />
    </div>

    <div class="password">
      <label for="address" style="font-size: 20px"> Password </label>
      <input
        id="password"
        type="text"
        formControlName="password"
        class="inputPassword"
      />
    </div>

    <div class="btn_container">
      <button class="button" type="submit">Login</button>
      <a href="#">Forgot password</a>
    </div>
  </form>
</div>
