<app-header></app-header>

<div class="back">
  <div class="container-xl mt-3 " *ngIf="cart.length <= 0">
    <!-- <h3>Cart</h3> -->
    <p>You do not have any orders yet</p>
    <div class="ma">
      <img class="img" src="../../assets/background/order.jpg" />
    </div>

  </div>
  <div class="container-xl mt-3" *ngIf="cart.length > 0">
    <table class="table">
      <thead style="color: white;">
        <tr>
          <th>Product</th>
          <th>Total Price</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart;" class="tables mb-3">
          <!-- <th scope="row">{{item.CartId}}</th> -->
          <td>{{item.name}}</td>
          <td>{{item.total | number: ".2"}} VND</td>
          <td>{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
          <td>
            <button class="btn btn-primary d-block mb-2" routerLink="/product/{{item.ProductId}}"><i
                class="bi bi-binoculars"></i></button>
            <button class="btn btn-primary d-block mb-2" (click)="openModal1(template)"><i
                class="bi bi-archive"></i></button>
            <ng-template #template>
              <div class="modal-body">
                <p>Delete Cart can not back up again. Make sure that you want to delete cart</p>
                <button class="btn btn-primary d-block mb-2" (click)="deleteCart(item.CartId)">Delete</button>
              </div>
            </ng-template>
            <!-- (click)="deleteCart(item.CartId) -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<app-footer></app-footer>
